<div class="modal-contient">
	<div class="modal-header">
		<h3>Login Form</h3>
	</div>
	<div class="modal-body">
	<form class="form" ng-show="! username">
		<div class="form-group col-md-6">
			<label>User Name</label>
			<input type="text" class="form-control" ng-model="user.username">
		</div>
		<div class="form-group col-md-6">
			<label>Password</label>
			<input type="password" class="form-control" ng-model="user.password">
		</div>
	</form>
	<span style="color: red;" ng-show="!!errmsg" ng-bind-html="errmsg"></span>
	</div>
	<div class="modal-footer">
		<div>
			<button class="btn btn-primary"  ng-click="signup(user)">Sign Up</button>
			<button class="btn btn-success"  ng-click="login(user)">Login</button>
		</div>
	</div>
	<div ng-show="!! username">Welcome, {{username}}!
		<button ng-click="logout()">Logout</button>
	</div>
</div>	
