<nav class="navbar navbar-default">
	<div class="container">
		<ul class="nav navbar-nav">
			<li ui-sref-active="active">
				<a ui-sref="list">List</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="user">User</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<p class="navbar-btn">
					<button class="btn btn-success" ng-show="!user.username" ng-click="user.openLoginform()" >Login</button>
					<span ng-show="user.username">
						Welcome {{user.username}}! 
						<button class="btn btn-warning" ng-click="user.logout()">Logout</button>
					</span>
				</p>
			</li>
		</ul>
	</div>
</nav>